{% extends 'base.html.twig' %}

{% block title 'Administration du portail' %}

{% block body %}

	<div class="container mt-4">
		<h1>Éditer une sous-collection</h1>
	{{  include ('admin/subject/_form.html.twig', { button: 'Valider'}) }}
	
	</div>
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javascripts %}

{% endblock %}